# .github/workflows/branch-flow.yml
on:
  pull_request: {}
    
jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      # 1. Executa a Action
      - name: Guard
        id: flow
        uses: Malnati/branch-flow-guard@v1.0.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          # Opcional: Define onde salvar o arquivo físico no workspace
          output_file: "resultado-compliance.json"

      # 2. Consome via Variável (JSON String)
      - name: Debug Output Variable
        run: |
          echo "O status é: ${{ fromJson(steps.flow.outputs.result).compliance.allowed }}"
          echo "A mensagem é: ${{ fromJson(steps.flow.outputs.result).ui.message_md }}"

      # 3. OU Consome via Arquivo (já gerado no workspace)
      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: compliance-report
          path: resultado-compliance.json
